body {
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

#color-box {
  width: 200px;
  height: 200px;
  background-color: #ffc2e9;
  margin: 20px auto;
  border-radius: 8px;
}

#change-color-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ed7fd3;
  color: white;
}

#change-color-btn:hover {
  background-color: #923cb4;
}
